/* DEFAULT THEME - CSS RULES*/ 
/*
div#ktdebug { background: #E82335; color: #FFF; border: 1px solid #000; }
div#contenForm { margin-top: 25px; }
.el_error { color: #BC0707; }
.el_bg_grey { background: #D4DADB; }
.el_top20 { margin-top: 20px; }
.el_topmin20 { margin-top: -20px; }
.el_bot20 { margin-bottom: 20px; }
.el_left15 { margin-left: 15px;}
.el_marginLR15 { margin: 0 15px 0 15px;}
.el_center { text-align: center;  }
.el_posright { text-align: right;  }
.ktoggle { margin-right: 10px; }
.ktblue { 
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    border: 1px solid #022241;
    color: #FFF;
    filter: none;
}
.ktbluelight { 
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); 
    background-repeat: no-repeat;
    border: 1px solid #022241;
    color: #082A49;
    filter: none;
}
.ktbluelagoon{ background: #2FA4E7; color: #fff; }
.ktblack{ color: #000; }
.module_choriste { color: #E13D13; font-weight: bold;}
.borderbot { border-bottom: 2px solid #2FA4E7 !important; }

.ktgrey { background: #E9EBEB !important;}

.kt-success { padding: 10px; }
.krounded { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.center_img { vertical-align:middle; margin-right: 20px; }

div.ktbluelight h3.panel-title { color: #082A49; }
h1 { margin-bottom: 20px; }
li.active a, li.active{ color: #42C16F !important; }

.pres { color: #008427; }
.abs { color: #990503; }
.exc { color: #F79409; }
.tot { color: #2FA4E7; }
.KTlink a:hover { color: #FFAE00 !important; }
*/


