/* +++ +++ +++ +++ +++ +++ +++ +++ +++ +++ +++ + */
/* +++ +++     KT-FILMS Styles Rules     +++ +++ */
/* +++ +++ +++ +++ +++ +++ +++ +++ +++ +++ +++ + */

/* +++ Elements +++ */
/* +++ +++ +++ +++  */
body { font-family: Avenir, Cobel, sans-serif; font-size: 15px; color: rgba(122, 118, 110, 1); background-color: #d9eefa; }
a { color: #0086AC; }
h4 { color: #255C7F; text-decoration: underline; margin-bottom: 25px; }
h5 { font-weight: bold; } 
p { line-height: 1.5em; }
div#ktdebug { background: #E82335; color: #FFF; border: 1px solid #000; } 
td.td-section { font-size: 0.9em; color: #275305; font-weight: bold; background-color: #DFF3DC;}    
/* +++ ID's +++ */
#submsg { color: #BC0707; }
#search-zone { margin-bottom: 30px; }

/* +++ Classes +++ */
.el_error { color: #BC0707; } 
.exemple { font-size: 0.8em;  font-style: italic;} 
.navbar-brand { padding-top: 3px !important; } /* overload on bootstrap */
.navbar { background: linear-gradient(to bottom, #0086ac, #004e65); }
.navbar-default { background-color: #61aad9; border-color: #61aad9; }
.navbar-default .navbar-nav > li > a { color: #f0f0f0; }
.panel-default > .panel-heading { color: #f0f0f0; background-color: #007CA0; border-color: #003f51; }
a.sous-menu { color: #1e1e1f !important; }
.navbar-default .navbar-toggle { border-color: #1e1e1f; }
icon-bar { color: #1e1e1f; }
.navbar-toggle { color: #1e1e1f; }
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid #61aad9;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-footer {
	padding: 10px 15px;
	background-color: #0086AC;
	border-top: 1px solid #ddd;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}
.btn-primary { color: #fff; background-color: #007CA0; border-color: #003f51; }
.btn-primary:hover { background-color: #0086AC; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
	z-index: 3;
	color: #fff;
	cursor: default;
	background-color: #007CA0;
	border-color: #004e65;
}
.titre-panel { font-size: 1.3em; }
.wBlueColor { color: #255C7F; }
.wBlueColorLight { color: #004E65; } 
.wGreenColor { color: #0c8530 !important; }
.wGreenColorLight { color: #55d600 !important; }
.wYellowColor { color: #ffcc00; }
.wRedColor { color: #C51400 !important; }
.wBold { font-weight: bold; }
.mBot20 { margin-bottom: 20px !important; }
.mBot40 { margin-bottom: 40px !important; }
.mBot10 { margin-bottom: 10px !important; }
.mBotStick { margin-bottom: 5px; }
.wMgTop20 { margin-top: 20px; }
.wMgLeft10 { margin-left: 10px; }
.wMgBot15 { margin-bottom: 15px; }
.wFontSizeUp { font-size: 1.3em; }  
.el_top40 { margin-top: 40px !important; }
.el_top60 { margin-top: 60px !important; }
.foot { margin-top: 40px; }
.page-header { border-bottom: 2px solid #47799b; margin: 40px 0 15px; padding-bottom: 9px; color: #004E65; text-align: left; font-weight: normal; letter-spacing: 1px; font-size: 30px; }
.form { font-size: 0.8em; color: #275305;}
.padding10{ padding: 10px; }
.form-group-kongen { border-radius: 5px; background-color: #cee3eb; padding: 5px; margin: 9px 0; border: 1px solid #33859d; display: block; }
.poster-size { max-width: 100%; weight: auto; }
.poster-border { border: 1px solid  #255C7F; }
.h3-synopsis { border-top: 0px !important; margin-top: 0px !important; }
label#lbl_message_del_picture { font-weight: normal !important; color:#BC0707; font-size: 0.9em;}
.btn-circle { width: 100%; height: 40px; text-align: center; padding: 7px; font-size: 1.1em; border-radius: 8px; margin-bottom: 15px; }
input.custom-input-file, input.custom-input-photo { height: 0; width: 0; overflow: hidden; }
textarea.ktfilm { height: 152px; }
.squareButton { height: 50px; width: 100%; border-radius: 5px; }
.fullButton { width: 100%; border-radius: 5px; }
.synopsis { color: #003f51; }
.affiche-border { border: 1px solid #83aacd; margin-right: 7px; padding: 7px; border-radius: 2px;}
.displayed { display: block; margin-left: auto; margin-right: auto; }
.no-pict { max-width: 175px; max-height: 175px; }
.lbl-light { color: #f0f0f0; }
.panel-heading { background-color: #004E65 !important; }
.search_liste { list-style: none; margin-left: -40px; margin-bottom: 30px;}
.div_search { overflow: auto; }
.div_search:hover { background-color: #fff; }
.search_liste > li { margin-left: 0; width: 100%; display: inline-block; border-bottom: 1px dashed #33859d; margin-bottom: 5px; padding: 3px; }
.search_titre { float: left; }
.search_ref { border-left: 1px solid #33859d; padding-left: 3px; float: right; min-width: 60px; text-align: right; }
.centrage { margin: 0 auto; }
.btn-success { background-color: #0c8530; }
.titre-fiche-film { color: #003f51; margin: 0 0 0 15px !important; }
.span-titre { color: #0c8530; }
.btn-categorie { margin-right: 10px; margin-bottom: 10px; }
.categorie-zone { margin-top: 60px; }
.wBadge { background-color: #003f51 !important; }
.wAvisFilms {  }
.text-bold { font-weight: bold; }

input.custom-input-file + label, input.custom-input-photo + label { 
    border: 1px solid;
    background-color: #007CA0;
    border-color: #004E65;
    color: #fff;  
    
    -moz-user-select: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;

}

input.custom-input-file +  label:hover, input.custom-input-photo +  label:hover { 
    border: 1px solid;
    background-color: #0086AC ;
    border-color: #004E65;
    color: #fff;  
   
}

.name-file, .name-photo {
    padding-left: 10px;
}

.r-stick {
    margin-bottom: 0;
    margin-right: 7px;
}

.n-stick {
    background-color: #fff;
    border: 1px solid #83aacd;
    border-radius: 2px;
    color: #606d75;
    overflow: hidden;
    padding: 2px 5px 2px 2px;
    text-align: left;
  }

.t-stick {
    background-color: #307f97;
    /*background: linear-gradient(to bottom, #3b95ae, #004e65);*/
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    border-right: 1px solid #255C7F;
    color: #f0f0f0;
    float: left;
    margin: -3px -2px -2px -2px;
    padding: 3px;
    text-align: left;
    min-width: 110px;
}


.d-author { margin: 1px 0 0 5px; }

